:host { display: block; }

#svgContainer {
    padding: 20px;
}

svg { display: none; }

/* hide all floors by default */
svg > #wrapper > g { opacity: .15; transition:all ease-in-out 1s;}
svg > #wrapper.dests > g { opacity: 0; transition:all ease-in-out 1s;}

svg > #wrapper > g.selected text { display: block; }
svg > #wrapper > g text { display: none; }

svg > #wrapper > g#\31 {z-index:1; transform: rotateX(-60deg) rotateY(7deg) rotateZ(34deg) translate(831px,194px); }
svg > #wrapper > g#\31M {z-index:2; transform: rotateX(-60deg) rotateY(7deg) rotateZ(34deg) translate(800px,145px); }
svg > #wrapper > g#\32 {z-index:3; transform: rotateX(-60deg) rotateY(7deg) rotateZ(34deg) translate(771px,96px);}
svg > #wrapper > g#\32M {z-index:4; transform: rotateX(-60deg) rotateY(7deg) rotateZ(34deg) translate(741px,46px);}
svg > #wrapper > g#\33 {z-index:5; transform: rotateX(-60deg) rotateY(7deg) rotateZ(34deg) translate(712px,-3px);}
svg > #wrapper > g#\33M {z-index:6; transform: rotateX(-60deg) rotateY(7deg) rotateZ(34deg) translate(682px,-53px);}
svg > #wrapper > g#\34 {z-index:7; transform: rotateX(-60deg) rotateY(7deg) rotateZ(34deg) translate(653px,-102px); }
svg > #wrapper > g#\34M {z-index:8; transform: rotateX(-60deg) rotateY(7deg) rotateZ(34deg) translate(623px,-152px); }
svg > #wrapper > g#\35 {z-index:9; transform: rotateX(-60deg) rotateY(7deg) rotateZ(34deg) translate(594px,-201px); }
svg > #wrapper > g#\35M {z-index:10; transform: rotateX(-60deg) rotateY(7deg) rotateZ(34deg) translate(564px,-251px); }

svg > #wrapper > g.selected {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0px,0px) !important;
}

/* show floors that have been marked to show */
svg > #wrapper > g.show { 
    display: block; 
    opacity: 1;
    z-index: 11;
}
#wrapper > g > g > g { display:none; opacity: 1;}
#wrapper > g > g > g.parent_outline { display: block; opacity: .5;}
#wrapper > g > g > g.restrooms { display:block; opacity: 0;}
#wrapper > g > g > g.elevator_and_stairs { display:block; opacity: 1;}
#wrapper > g > g > g.negative_space { display:block; opacity: 1;}
#wrapper > g > g > g.interior_walls { display:block; opacity: 1;}
#wrapper > g > g > g.outline { display:block; opacity: 1;}
#wrapper > g > g > g.main_text { display:block; opacity: 1;}
#wrapper > g > g > g.title_text { display:block; opacity: 1;}
#wrapper > g > g > g.you_are_here { display:block; opacity: 1;}
#wrapper > g > g > g.exterior_front_entrance { display:block; opacity: 1;}
#wrapper > g > g > g.paths { display: block; opacity: 1;}
#wrapper > g > g > g.paths > g { display: none; opacity: 0;}
#wrapper > g > g > g.paths > g.dest { display: block; opacity: 1;}
#wrapper > g > g > g.call_numbers { display: block; opacity: 1;}
#wrapper > g > g > g.call_numbers > g { display: none; opacity: 0;}
#wrapper > g > g > g.call_numbers > g.dest { display: block; opacity: 1;}

/* Pulse the you are here star */
.you_are_here polygon {
    stroke-width: 1px;
    stroke: black;
    transform-origin: 50% 50%;
    animation: pulsate 10s linear; 
    animation-iteration-count: infinite;
    -webkit-animation: pulsate 10s linear;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
    0% {transform: scale(1, 1) rotate(0deg); fill: blue;}
    10% {transform: scale(2, 2) rotate(36deg);}
    20% {transform: scale(1,1) rotate(72deg);}
    30% {transform: scale(2, 2) rotate(108deg);}
    40% {transform: scale(1,1) rotate(144deg);}
    50% {transform: scale(2, 2) rotate(180deg); fill: yellow;}
    60% {transform: scale(1,1) rotate(216deg);}
    70%{transform: scale(2, 2) rotate(252deg);}
    80% {transform: scale(1,1) rotate(288deg);}
    90%{transform: scale(2, 2) rotate(324deg);}
    100% {transform: scale(1, 1) rotate(360deg); fill: blue;}
}

#wrapper > g {
    transform-origin: 50% 0%;
}
#wrapper.skewed > g {
/*    transform: rotateX(-60deg) rotateY(7deg) rotateZ(34deg) translate(265px,-5px); */
    transform: rotateX(-45deg) rotateY(9deg) rotateZ(35deg) translate(265px,-5px);
}

#wrapper > g > g > g > text > tspan:first-of-type { 
    opacity: 1;
    transition:all ease-in-out 1s;
}
#wrapper.skewed > g > g > g > text > tspan:first-of-type { opacity: 0; }

#wrapper.skewed > g.bottomlayer {
    transform: rotateX(-60deg) rotateY(7deg) rotateZ(34deg) translate(640px,210px);
}
#wrapper.skewed > g.bottomlayer.focused {
    transform: rotateX(-60deg) rotateY(7deg) rotateZ(34deg) translate(265px,-5px);
}
#wrapper.skewed > g.toplayer {
    transform: rotateX(-60deg) rotateY(7deg) rotateZ(34deg) translate(390px,-155px);
}
#wrapper.skewed > g.toplayer.focused {
    transform: rotateX(-60deg) rotateY(7deg) rotateZ(34deg) translate(265px,-5px);
}

.dests .elevator_and_stairs > g {
    opacity: .3;
} 
.dests .elevator_and_stairs > g.dest {
    opacity: 1;
} 


/* Cleanup */
polygon, .outline > path {
    fill: white;
    stroke: #000000;
}
path, polyline, line {
    fill: none;
    stroke: #000000;
}
#Nil_pattern > .dark-check {fill:#ccc;}
#Nil_pattern > .light-check {fill:white;}
.restrooms rect, .restrooms polygon, .room_nos path, .room_nos rect, .room_nos polygon, .call_numbers rect, .call_numbers polygon, .call_numbers path {fill:#FCEE23;}
.room_nos text, .call_numbers text, .negative_space text {font-size: 8px; fill:#010101;}
.elevator_and_stairs rect {fill:#D1252B}
.elevator_and_stairs text {fill:#FFFFFF; font-size:8px;}
.elevator_and_stairs polyline {fill:none; stroke:#D1252B; stroke-width:2;}
.interior_walls polyline, .interior_walls line, .interior_walls path {stroke-miterlimit:10;}
.paths polyline {fill:none; stroke:#2E368F; stroke-width:2; stroke-miterlimit:10}
.paths polygon {fill:#2E368F;}
.paths path {fill:#2E368F;}
.paths text {fill:#FFFFFF; font-size:10.9881px;}
.main_text text {fill:#010101; font-size:10px}
.main_text path, .main_text ellipse, .main_text polygon {fill:#231F20;}
.title_text text {fill:#010101; font-size:14px;}
.parent_outline polyline {stroke-miterlimit:10;}
.outline line, .outline polyline {stroke-miterlimit:10;}
.outline path {stroke:#000000; stroke-miterlimit:10;}